extends ../layout

block content
  div
    div.small-12.medium-6.large-6.small-centered.columns
    a(href="/logout")
      button#logout(type="submit") Logout
        i.class.fa.fa-eject
    div.small-12.medium-6.large-6.small-centered.columns
      h1#newTaskToBeAdded New Task To Be Added 
      form#newTaskForm
        p#newTaskTitleAboveBox Title 
         input#new_task_title(name="taskTitle" type="text")
        p#newTaskNotesAboveBox Notes 
         input#new_task_notes(name="taskNotes" type="text") 
         button#add_new_task(type="submit") Add
          i.class.fa.fa-plus-square
    div.small-12.medium-6.large-6.small-centered.columns
      br
      div.toodoolistdiv
      div.insidelist
        h1.toodoolist TooDoo List
        div#taskCounter Task Counter
        ul.sortable
          each task in tasksCollection
            li.taskList(class= (task.checked? "checked" : "incomplete"))
              .row
                .small-1.columns
                  form.submitForm.id(action="/tasks/completed/#{task._id}", method="POST", enctype="application/x-www-form-urlencoded")
                    input.checkbox(id=task._id, name="task", checked=(task.checked? "checked" : undefined))
                    label.label(for=task._id)
                      i.class.fa.fa-2x.fa-check-square-o
                .small-5.columns.titleToShowTask
                  //-link for the title
                  a(href="/tasks/#{task._id}")
                    span.title= task.title
                    //- span.notes= task.notes
                .small-6.columns
                  a(href="/tasks/#{task._id}/edit")
                    button.edit Edit
                      i.class.fa.fa-2x.fa-pencil-square
                  //- a(href="/tasks/#{task._id, }?_method=DELETE")
                  //-   button Delete
                  form.deleteForm(action="/tasks/#{task._id}?_method=DELETE", method="POST", enctype="application/x-www-form-urlencoded")
                    button.delete(type="submit") Delete
                      i.class.fa.fa-2x.fa-bomb
              .row.hiddenNote
                .small-5.columns.small-offset-1
                  span.notes= task.notes
        
      