extends ../layout

block content
  h1 Things tooDoo Today
  ul
    each task in tasksCollection
      li(class= (task.checked? "green" : ""))
        form(action="/tasks/completed/#{task._id}", method="POST", enctype="application/x-www-form-urlencoded")
          input#checkbox(name="task", type="checkbox", checked=(task.checked? "checked" : undefined))
          button Completed Task
            onclick="red"
        //-link for the title
        a(href="/tasks/#{task._id}")
          span.title#title=task.title
        br
        span.notes#notes=task.notes
        br
        a(href="/tasks/#{task._id}/edit")
          button#edit Edit
        //- a(href="/tasks/#{task._id, }?_method=DELETE")
        //-   button Delete
        form#deleteForm(action="/tasks/#{task._id}?_method=DELETE", method="POST", enctype="application/x-www-form-urlencoded")
          button#delete(type="submit") Delete